<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>[[${boardDTO.title}]]</title>
</head>
<body>

<div layout:fragment="content">

<!--    글 삭제 form-->
    <form th:action="@{/board/delete}" method="delete" id="f1">

        <input type="hidden" th:value="${boardDTO.bno}" name="bno"/>
        <input type="hidden" name="title" th:value="${boardDTO.title}"/>
        <input type="hidden" name="content" th:text="${boardDTO.content}"/>
        <input type="hidden" name="writer" th:value="${boardDTO.writer}"/>

    <div class="row mt-3">
        <div class="col">
          <div class="card">
            <div class="card-header"><strong>[[${boardDTO.title}]]</strong></div>
            <div class="card-header">[[${boardDTO.writer}]]</div>

            <div class="card-body">
              <br>
              [[${boardDTO.content}]]



                <!--    이미지 -->
                <div class="col">
                    <div class="uploadResult">
                        <img class="card-img-top" th:each="fileName: ${boardDTO.fileNames}" th:src="|/view/${fileName}|">
                    </div>
                    <div class="float-end uploadHidden">
                    </div>
                </div>



                <br>
              <br>
            </div>
            <div class="card-footer" th:text="${#temporals.format(boardDTO.modDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
          </div>
        </div>
    </div> <!-- 글 -->

    </form>


  <div class="my-4" th:with="user=${#authentication.principal}">
    <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
<!--        게시글 작성자와 현재 로그인한 유저의 아이디가 같을 때만 수정할 수 있음 -->
        <a th:if="${user != null && user.username == boardDTO.writer}"
                th:href="|@{/board/modify(bno=${boardDTO.bno})}&${link}|" class="text-decoration-none">
            <button type="button" class="btn btn-secondary">수정</button>
        </a>

<!--        게시글 작성자와 현재 로그인한 유저의 아이디가 같을 때만 삭제할 수 있음 -->
        <a th:if="${user != null && user.username == boardDTO.writer}"
                th:href="|@{board/remove(bno=${boardDTO.bno})}|">
            <button type="button" class="btn btn-danger remBtn">삭제</button>
        </a>
        <a th:href="|@{/board/list}?${link}|" class="text-decoration-none">
            <button type="button" class="btn btn-primary">목록</button>
        </a>

    </div>
  </div> <!-- 버튼 -->





    <br>
    <br>
    <hr>

    <!-- 댓글 페이지 -->
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="my-4">
                <button class="btn btn-info addReplyBtn">댓글 작성</button>
            </div>
            <ul class="list-group replyList"></ul>
        </div>
    </div>



    <!-- 댓글 모달 -->
  <div class="modal registerModal" tabindex="-1">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">댓글 등록</h5>
                  <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                  <div class="input-group mb-3">
                      <span class="input-group-text">댓글 내용</span>
                      <textarea type="text" class="form-control replyText"></textarea>
                  </div>
<!--                  작성자는 현재 로그인한 유저로 고정됨-->
                  <div class="input-group mb-3" th:with="user=${#authentication.principal}">
                      <span class="input-group-text">작성자</span>
                      <input type="text" class="form-control replyer" th:value="${user.username}" readonly/>
                  </div>
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-primary registerBtn">등록</button>
                  <button type="button" class="btn btn-outline-dark closeRegisterBtn">닫기</button>
              </div>
          </div>

      </div>
  </div>


    <!-- 댓글 수정 모달 -->
    <div class="modal modifyModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title replyHeader">댓글 수정</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">댓글 내용</span>
                        <textarea type="text" class="form-control modifyText"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info modifyBtn">수정</button>
                    <button type="button" class="btn btn-danger removeBtn">삭제</button>
                    <button type="button" class="btn btn-outline-dark closeModifyBtn">닫기</button>
                </div>
            </div>
        </div>
    </div>


    <!-- 댓글 페이지 -->
    <div class="row mt-3">
        <div class="col">
            <ul class="pagination replyPaging"></ul>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/reply.js"></script>

</div> <!-- div content -->




<script layout:fragment="script" th:inline="javascript">

    // const currentUser = [[${#authentication.principal.username]];

    const bno = [[${boardDTO.bno}]];
    const replyList = document.querySelector(".replyList");
    const replyPaging = document.querySelector(".replyPaging");


    // 댓글 출력
    function printList(dtoList) {

        let str = '';

        if(dtoList && dtoList.length > 0){
            for(const dto of dtoList){

                str += `<li class="list-group-item d-flex replyItem">
                <span class="col-2">${dto.rno}</span>
                <span class="col-6" data-rno="${dto.rno}"> ${dto.replyText}</span>
                <span class="col-2">${dto.replyer}</span>
                <span class="col-2">${dto.regDate}</span>
                </li>`;
            }// for
        }// if

        replyList.innerHTML = str;
    }// printList


    // 댓글 페이지 출력
    function printPages(data){

    //     페이징
        let pageStr = '';

        // 이전 페이지가 있으면
        if(data.prev){
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start -1}">Prev</a></li>`;
        }

        // 1 2 3 4 페이지 출력
        for(let i = data.start; i <= data.end; i++){
            pageStr += `<li class="page-item ${i === data.page ? "active" : ""}"><a class="page-link" data-page="${i}">${i}</a></li>`;
        }

        // 다음 페이지가 있으면
        if(data.next){
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end + 1}">Next</a></li>`;
        }

        replyPaging.innerHTML = pageStr;
    }// printPages

    function printReplies(page, size, goLast){
        getList({bno, page, size, goLast}).then(data => {
            console.log(data);
            printList(data.dtoList);
            printPages(data);
        }).catch(e => {
            console.error(e);
        })
    }// printReplies

    printReplies(1, 10);


    // 댓글 모달 띄우기
    const registerModal = new bootstrap.Modal(document.querySelector(".registerModal"));
    const addReplyBtn = document.querySelector(".addReplyBtn");
    const registerBtn = document.querySelector(".registerBtn");
    const replyText = document.querySelector(".replyText");
    const replyer = document.querySelector(".replyer");
    const closeRegisterBtn = document.querySelector(".closeRegisterBtn");

    addReplyBtn.addEventListener("click", function (e) {
        registerModal.show();
    }, false);

    closeRegisterBtn.addEventListener("click", function (e) {
        registerModal.hide();
    })


    // 댓글 등록
    registerBtn.addEventListener("click", function (e) {
        const replyObj = {
            bno : bno,
            replyText : replyText.value,
            replyer : replyer.value
        }

        console.log("replyText.value " + replyText.value);

        console.log("registerBtn.addEventListener " + replyObj);

        addReply(replyObj).then(result => {
            alert(result.rno);
            registerModal.hide();
            replyText.value = '';
            replyer.value = '';
            printReplies(1, 10, true);
        }).catch(e => {
            alert("Exception!");
        })
    }, false)


    // 페이지 버튼 eventListener
    let page = 1;
    let size = 10;

    replyPaging.addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();

        const target = e.target;

        if(!target || target.tagName !== 'A'){
            return;
        }

        page = target.getAttribute("data-page");
        printReplies(page, size);
    }, false)


    // 댓글 수정 모달
    const modifyModal = new bootstrap.Modal(document.querySelector(".modifyModal"));
    const replyHeader = document.querySelector(".replyHeader");
    const modifyText = document.querySelector(".modifyText");
    const modifyBtn = document.querySelector(".modifyBtn");
    const removeBtn = document.querySelector(".removeBtn");
    const closeModifyBtn = document.querySelector(".closeModifyBtn");


    replyList.addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();

        const target = e.target;

        if(!target || target.tagName !== 'SPAN'){
            return;
        }

        const rno = target.getAttribute("data-rno");

        if(!rno){
            return;
        }

        // 댓글의 내용을 모달에 띄워서 보여줌
        getReply(rno).then(reply => {
            console.log(reply);
            replyHeader.innerHTML = reply.rno;
            modifyText.value = reply.replyText;

            modifyModal.show();


        }).catch( e => alert('error!'))


    })

    // 댓글 수정 버튼
    modifyBtn.addEventListener("click", function (e) {
        const replyObj = {
            bno : bno,
            rno: replyHeader.innerHTML,
            replyText : modifyText.value
        }

        modifyReply(replyObj).then(result => {
            alert(result.rno + "번 댓글이 수정되었습니다.");
            replyText.value = '';
            modifyModal.hide();
            printReplies(page, size);
        }).catch(e => {
            console.log(e);
        })
    },false)

    closeModifyBtn.addEventListener("click", function (e) {
        modifyModal.hide();
    }, false)


    removeBtn.addEventListener("click", function (e) {

        if(confirm('정말로 삭제하시겠습니까?')){
            removeReply(replyHeader.innerHTML).then(result => {
                alert(result.rno + '번 댓글이 삭제되었습니다.');
                replyText.value = '';
                modifyModal.hide();

                // 이게 없으면 원래 페이지로 돌아감
                // page = 1;

                printReplies(page, size);
            }).catch(e => {
                console.log(e);
            })
        }else{
            replyText.value = '';
            modifyModal.hide();

            printReplies(page, size);
        }

    }, false)



    const formObj = document.querySelector("#f1");

//     게시글 삭제
    document.querySelector(".remBtn").addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();

        console.log(formObj);

        if(!confirm('정말로 삭제하시겠습니까?')){
            return;
        }

    //     화면에 보이는 파일들을 form 태그에 추가
        appendFileData();

        formObj.action = `/board/delete`;
        formObj.method = 'POST';
        formObj.submit();
        alert('삭제되었습니다.');
    })



    const uploadResult = document.querySelector(".uploadResult");

    function appendFileData(){
        const target = document.querySelector(".uploadHidden");
        const uploadFiles = uploadResult.querySelectorAll('img');

        let str = '';

        for(let i = 0; i < uploadFiles.length; i++){
            const uploadFile = uploadFiles[i];
            const imgLink = uploadFile.getAttribute("src");

            str += `<input type="hidden" name="fileNames" value="${imgLink}">`;
        }

        target.innerHTML = str;
    }



</script>

</body>
</html>